{{>header}}
<h1>토큰기반 결제 시스템</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/post/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>

    <!-- 목록 출력 영역 추가 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>거래 번호</th>
            <th>거래 금액</th>
            <th>거래 일자</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#trade}}
            <tr>
                <td>{{tradeNo}}</td>
                <td>{{tradeMoney}}</a></td>
                <td>{{tradeDate}}</td>
            </tr>
        {{/trade}}
        </tbody>
    </table>
</div>
{{>footer}}